<mat-nav-list>
  <a href="#" mat-list-item (click)="openLink($event , 'image')">

    <mat-icon color="primary" class="tab-icon">add_photo_alternate</mat-icon>
    <span mat-line>Image</span>
    <span mat-line>Add image</span>

  </a>

  <a href="#" mat-list-item (click)="openLink($event , 'text')">
    <mat-icon color="primary" class="tab-icon">text_fields</mat-icon>
    <span mat-line>Text Editor</span>
    <span mat-line>Add rich text editor</span>
  </a>

  <a href="#" mat-list-item (click)="openLink($event , 'greeting')">
    <mat-icon color="primary" class="tab-icon">emoji_people</mat-icon>
    <span mat-line>Hellow Widget</span>
    <span mat-line>What do you think of a personalized greeting?</span>
  </a>

</mat-nav-list>
