<mat-nav-list>
  <a href="#" mat-list-item (click)="openLink($event , 'image')">
    <span mat-line>Image</span>
    <span mat-line>Add image</span>
  </a>

  <a href="#" mat-list-item (click)="openLink($event , 'text')">
    <span mat-line>Text Editor</span>
    <span mat-line>Add rich text editor</span>
  </a>

  <a href="#" mat-list-item (click)="openLink($event , 'greeting')">
    <span mat-line>Hellow Widget</span>
    <span mat-line>What do you think of a personalized greeting?</span>
  </a>

</mat-nav-list>
