<mat-card class="main-card">
  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Create">
      <ng-template mat-tab-label>
        <mat-icon color="primary" class="tab-icon">mode_edit</mat-icon>
        <span> Create </span>
      </ng-template>

      <app-edit-cms></app-edit-cms>

    </mat-tab>
    <mat-tab label="Preview">
      <ng-template mat-tab-label>
        <mat-icon color="primary" class="tab-icon">preview</mat-icon>
        <span> Preview </span>
      </ng-template>

      <app-preview-cms></app-preview-cms>

    </mat-tab>
  </mat-tab-group>
</mat-card>
