
<div *ngFor="let widgets of dataService.dataPayload ; let i = index">

  <div class="textRich padding-top" *ngIf="widgets.text">
    <mat-card class="padding w100">
      <div *ngIf="widgets.text"  [innerHTML]="widgets.text"></div>
    </mat-card>
  </div>

  <div class="greeting padding-top" *ngIf="widgets.greeting" >
    <app-widget-greeting [userName]="userName" [index]="i"></app-widget-greeting>
  </div>

  <div class="greeting padding-top" *ngIf="widgets.images" >
    <img [src]="widgets.images" alt="imagen">
  </div>

</div>
